.ykj-h5-cell {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 8px;
  min-height: 34px;
  align-items: center;

  .title {
    flex: 1;
    color: #969799;
  }
  .content{
    flex: 11;
    text-align: end;
    color: #323233;
  }
}
.ykj-h5-cell.bordered{
  border: 1px solid #ebebeb;
  border-radius: 2px;
}
